/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font-family-geral: "Poppins", sans-serif;
    --background-body: #000000;
    --color-body: #ffffff;
    --color-span-body: #3498db;

    /* Configurações do hero-header */
    --background-image: url(/image/header-background-2.jpg);
    --background-position: center;
    --background-size: cover;
    --background-repeat: no-repeat;
    --header-hero-header: 100vh;
    --header-color-hero-header: #ffffff;
    --header-position: absolut;
    --backdrop-filter: blur(5px);
    --header-opacity: 0.9;

    /* Div Class Logo */
    --font-size-logo: 2.5rem;
    --font-weight-logo: 800;
    --color-logo: #ffffff;
    --text-shadow-logo: 0 4px 6px rgba(0, 0, 0, 0.9);

    /* Nav-link and Nav-Items */
    --font-size-nav-items: 1rem;
    --font-weight-nav-items: 400;
    --text-shadow-nav-items: 0 4px 6px rgba(0, 0, 0, 0.5);
    --color--nav-items: #ffffff;
    --cursor-nav-items: pointer;
    --position-nav-items: relative;


    /* Geral  */
    --font-size-p: 18px;

}

/* Configurações Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-geral);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-body);
    color: var(--color-body);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.section {
    padding: 20px 40px;
    margin: 20px 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    margin: 0 12px;
}

span {
    color: var(--color-span-body);
}

/* header */
.hero-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), var(--background-image);
    background-position: var(--background-position);
    background-size: var(--background-size);
    background-repeat: var(--background-repeat);
    backdrop-filter: var(--backdrop-filter);
    opacity: var(--header-opacity);
    height: var(--header-hero-header);
    color: var(--header-color-hero-header);
    position: var(--header-position);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: -1;
}

/* NavBar */
.hero-header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 20px;
    padding: 20px;
}

.hero-header .nav-bar .logo a {
    font-size: var(--font-size-logo);
    font-weight: var(--font-weight-logo);
    color: var(--color-logo);
    text-shadow: var(--text-shadow-logo);
}

.nav-list .nav-items a {
    font-size: var(--font-size-nav-items);
    font-weight: var(--font-weight-nav-items);
    text-shadow: var(--text-shadow-nav-items);
    color: var(--color--nav-items);
    cursor: var(--cursor-nav-items);
    position: var(--position-nav-items);
}

.nav-list .nav-items a::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #3498db;
    transform: scale(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.nav-list .nav-items a:hover {
    color: #ffffff;
}

.nav-list .nav-items a:hover::after {
    transform: scale(1);
}

.redes-sociais a i{
    color: var(--color-body);
    font-size: 1.4rem;
    margin: 0 10px;
}

/* Hero-Content */
.hero-content {
    text-align: center;
    margin: auto;
    padding: 2rem;
}

.hero-content .hero-title {
    font-size: 4rem;
    font-weight: 700;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.hero-content .hero-description {
    font-size: var(--font-size-p);
    margin: 20px 0;
}

.hero-content .hero-button {
    background-color: var(--color-span-body);
    color: var(--color-body);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 20px 0;
    font-weight: 600;
}

.hero-content .hero-button:hover {
    background-color: var(--color-span-body);
    color: var(--color-body);
    border: none;
}

